.top {
	background: #222 url('pattern_42.gif') 0 0 repeat scroll;
}

.bottom {
	background: transparent url('patterns_2.jpg') 0 0 scroll;
}

#svg_container
{
	float:left;
}

img,.iglow-wrapper
{
	margin: 1em;
	display: inline-block;
	vertical-align: bottom;
}

.lte-ie7 img,
.lte-ie7 .iglow-wrapper {
	display: inline;
	zoom: 1;
}

.iglow-wrapper
{
	position: relative;
	margin: 1em;
}

.iglow-wrapper img
{
	margin: 0;
}

.iglow-wrapper img
{
	margin: 0;
}

